
.img-envio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.img-bch{
    width: 25%;
    height: 25%;   
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}


.img-ofert{
text-align: center;
color: orange;
font-size: larger;

}

.img--ofer{
    text-align: center;
    color: orange;
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

#produ{ 
    width: 100%;
    height: 100%;    
    object-fit: cover;
}

.foto-produ{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.foto-inicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.img-cart{
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
